version: '3'
services:

  equipment-app:
    image: apatrios/equipment:0.0.1-SNAPSHOT
    ports:
      - "8082:8082"
    environment:
      APP_PORT: 8082
      DATASOURCE_URL: jdbc:postgresql://db/postgres?createDatabaseIfNotExists=true
      DATASOURCE_USERNAME: ${DB_USER:-postgres}
      DATASOURCE_PASSWORD: ${DB_PASSWORD:-password}

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ROOT_USER:-admin}
      MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD:-password123}
      MINIO_BUCKET: ${MINIO_BUCKET_NAME:-velochka-bucket}

      MINIO_PUBLIC_URL: ${MINIO_PUBLIC_URL:-http://localhost:9000/velochka-bucket}

      LEGAL_OFFER_PATH: ${LEGAL_OFFER_PATH:-legal/offer.pdf}
      LEGAL_OPD_PATH: ${LEGAL_OPD_PATH:-legal/opd.pdf}
    depends_on:
      - db
      - minio
    command: bash -c "/apps/wait-for-service.sh db 5432 && /apps/wait-for-service.sh minio 9000 && /apps/entrypoint.sh"

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio-storage
    ports:
      - "9000:9000" # API
      - "9001:9001" # Консоль
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-password123}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  db:
    image: postgres
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: postgres
      POSTGRES_USER: ${DB_USER:-postgres}
    ports:
      - 5432:5432

volumes:
  minio-data: